/*This file was created in the command line*/
body{
	background: #632bf2;
}

#playerOne{
	background-color: #f2a22b;
	border: 2px solid #1d3e72; 
	border-radius: 12px;
}

#playerTwo{
	background-color: #2b7bf2;
	border: 2px solid #1d3e72;
	border-radius: 12px;
}

#reset{
	ackground-color: #2b7bf2;
	border: 2px solid #1d3e72;
	border-radius: 12px;
}