/*This file was created in the command line*/
body{
	background: #99b0c9;
}

#input{
	background-color: #ccffff;
}


#playerOne{
	background-color: #f2a22b;
	border-radius: 12px;
	margin: 1px;
	font-weight: 700;
}

#playerTwo{
	background-color: #2b7bf2;
	border-radius: 12px;
	margin: 1px;
 	font-weight: 700;
}

#reset{
	background-color: #ce8bed;
	border-radius: 12px;
	margin: 1px;
	font-weight: 700;
}